#navbarScroll{
    justify-content: end;
}

.nav{
    gap: .5rem;
}

.nav>*{
    font-family: 'Cormorant', serif;
    font-weight: 600;
    display: inline;
    max-width: 8rem;
    border: 1px solid transparent;
    transition: border-bottom .3s;
    color: #FFF;
}

.nav>*:hover{
    border-bottom: 1px solid #FFF;
}


